$primary-color: #0cc962;
$secondary-color: #333333;
$white-color: #ffffff;
$lightgrey-color: #f6f6f6;
$darkenblue-color: #30444d;


/* Media queries break points */
$sm-break-point: 576px;
$md-break-point: 768px;
$lg-break-point: 992px;
$xl-break-point: 1200px;
$xxl-break-point: 1400px;


/* Container width for different view port */
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;
