
$header-height: 89px;
.main-banner{
    min-height: calc(100vh - #{$header-height});
    margin-top: $header-height; 
    display: flex;
    align-items: center; 
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    background-position: center;

    .content{
        text-align: right;

        h1{
            font-size: 1.6rem;
            font-weight: bolder;
            line-height: 1.3;
        }

        .secondary-button{
            margin-bottom: 0.6rem;
        }
    }
}

@include media('md'){
        .content{
            a{
                margin-left: 0.5rem;
            }
        }
}

@include media('lg'){
    .main-banner{
        .container{
            .content{
                h1{
                    font-size: 2rem;
                }
            }
        }
    }
}

@include media('xl'){
    .main-banner{
        .container{
            .content{
                h1{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@include media('xl'){
    .main-banner{
        .container{
            .content{
                h1{
                    font-size: 3rem;
                }
            }
        }
    }
}


// .main-bannner{
//     min-height: calc(100vh - #{$header-height});
//     padding: 0.9%;
//     padding-top: 7.5rem;
//     margin-top: $header-height;                                                                   
//     display: flex;
//     align-items: center;
//     background: url(/img/banner.png) no-repeat;
//     background-size: cover;
//     background-position: center;
// }

// .content{
//     text-align: right;

//     h1{
//         margin-top: -6rem;
//         font-size: 3rem;
//         font-weight: bolder;
//     }

//     a{
//         display:inline-flex;
//         margin-left: 0.5rem;
//         margin-top: -0.3rem;
//     }
// }


