.contactus-section{
    background-color: $darkenblue-color;
    padding: 1rem 0;
    h1{
        color: $white-color;
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
    .btn-wrapper{
        text-align: center;
        a{
            font-size: 0.6rem;
        }
    }
}

@include media('sm'){
    .contactus-section{
        padding: 1.5rem 0;
        .btn-wrapper{
            text-align: center;
            a{
                margin-right: 0.2rem;
            }
        }
    }
}
@include media('md'){
    .contactus-section{
        h1{
            font-size: 0.9rem;
        }
    }
}
@include media('lg'){
    .contactus-section{
        padding: 2rem 0;
        h1{
            font-size: 1rem;
        }
     .btn-wrapper{
         a{
             margin-right: 0.4rem;
         }
        }
    }
}
@include media('xl'){
    .contactus-section{
        padding: 3rem 0;
  }
}
@include media('xxl'){
    .contactus-section{
        padding: 4rem 0;
        h1{
            font-size: 1.4rem;
        }
    }
}
// .contactus-section{
//     background-color: $darkenblue-color;
//     padding: 4rem 0;

//     h1{
//         color: $white-color;
//         text-align: center;
//         font-size: 1.4rem;
//     }

//     .btn-wrapper{
//         text-align: center;

//         a{
//             font-size: 0.6rem;
//             margin-right: 0.6rem;
//         }
//     }
// }


